/*geoHadle.css*/
body, html{
  width:100%;
  height:100%;
  padding:0;
  border: 0;
  margin: 0;
  font-size: 13px;
  font-family: Arial, sans-serif;
}

#main{
  width:100%;
  height:100%;
}
#middle{
  width:100%;
  height:100%;
}
#map{
  width:100%;
  height:100%;
}
#sideDiv{
  position:fixed;
  top:0px;
  left:0px;
  width:140px;
  line-height: 28px;
  overflow-x: hidden;
}
#menuDiv{
  line-height: 1.4rem;
  text-align: center;
  padding:4px;
}
#dataDiv{
  position:fixed;
  text-align: center;
  top: 10px;
  left: 140px;
  width: calc(100% - 200px);
  padding: 10px 10px;
  border-radius:10px;
  background: Honeydew;
  /*visibility: hidden;*/
  display:none;
}
#dataClose{
  width: 1.8rem;
  margin-top: 0px;
  margin-left: auto;
  font-size: 1.8rem;
  line-height: 1.8rem;
}
#dataText{
  width: calc(100% - 3em);
  height: 15em;
}

/*  searchDiv  */
#searchDiv{
  position: fixed;
  text-align: center;
  top: 10px;
  left: 140px;
  padding: 10px 10px;
  border-radius:5px;
  background: Honeydew;

  display: none; /*TODO*/
}

/*  slideDiv  */
#slideDiv{
  position: absolute;
  left: 0;
  right: 0;
  /*bottom: 1rem;*/
  /*top: 1rem;*/
  bottom: 1rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: #ffc;
  overflow: hidden;
  opacity: .7;
  display: none;
}
#slideFirstLine{
	margin: 0;
	padding: 0;
	height: 2.2rem;
	line-height:2.2rem;
}
#slideSecondLine{
	margin: 0;
	padding: 0;
	height: 2.2rem;
	line-height:2.2rem;
}
#slideNowTantou{
  display: inline-block;
  overflow: hidden;
  max-width:250px;
}

#slideNowContent{
  display: inline-block;
  overflow: hidden;
  max-width:250px;
}
#slideForward{
  width:50px;
  float:right;
  background: #dfd;
}
#slideBackward{
  width:50px;
  float:right;
  background: #dfd;
}
/*    */
#switchDiv{
  position: fixed;
  top: 1rem;
  right: 4rem;
}
#switchDiv select{
  font-size: 1.2rem;
  min-width: 10rem;
}
#dialogDiv{
  position: fixed;
  padding: 20px;
  top: 1rem;
  left: 140px;
  width: calc(100% - 200px);
  height: 200px;
  text-align: center;
  line-height:2rem;
  background: #ccc;
  border-radius: 15px;
  display: none;
}

.marker{
  display: inline-block;
  position: relative;
  color:#fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 45%;
  width: 32px;
  height: 20px;
  line-height: 20px;
  /*box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);*/
  background-color:hsla(360, 50%, 50%, 1);
  border-color:  hsla(360, 50%, 50%, 1);
  /*opacity: 0.7;*/
  cursor: pointer;
}
.marker:hover{
  box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.5);
}
.marker:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    /*border-top: 11px solid rgba(100,100,240,1);*/
    border-top:11px solid;
    border-top-color: inherit;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    /*z-index: 2;*/
}
.markerComment{
  /* display: inline-block; */
  display: none;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* SafariÅAChromeÇ»Ç« */
  -ms-user-select: none; /* IE10Ç©ÇÁÇÁÇµÇ¢ */
}
.markerComment.markerFocused{
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 36px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  /*font-weight: bold;*/
  color:#333;
  text-shadow:  0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #FFF;
  margin:auto;
  height: 20px;
  line-height: 20px;
  width: 140px;
  overflow: hidden;
}
#tantouDiv{
  display:none;
}
.tantou{
  margin: 8px auto;
  display:block;
  border: 1px solid;
  border-radius: 12px;
  box-shadow:  1px 1px 3px 0 rgba(0,0,0,0.5);
  text-align: center;
  line-height: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #fff;
}
.tantou.marked{
  background-color: #edf;
}
.tantou.focused{
  background-color: #ffa;
}
.clickable{
  cursor: pointer;
  user-select: none; /* CSS3 */
}
.clickable:hover{
  color:blue;
  font-weight:bold;
  opacity: .5;
}